body{
    font-family: 'Roboto', sans-serif;
    background-color: #ECF0F1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.background-primary {
    background-color: #2C3E50;
}

.background-secondary {
    background-color: #ECF0F1;
}

.text-custom-light {
    color: #ECF0F1;
}

.text-custom-dark {
    color: #2C3E50;
}

.accent-color {
    color: #1ABC9C;
}

#Education h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}#Education img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#Certifications h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#Certifications img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 20px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    position: relative;
    overflow: visible;
}

hr::after {
    content: "•••••••";
    color: #2C3E50;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 0 10px;
}

.position-relative {
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/background/5176471.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 1;
}

.container.position-relative {
    z-index: 2;
}
